/* All common css start  */

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1320px;

}

/* All common css end  */

.main{
    margin: 0 auto;
    height: 900px;
    /* width: 800px;
     */
    background: gainsboro;
    position: relative;
}
/* Day #01: Basic HTML Tag with Extremal CSS  */
h1{
    text-align: center;
    color: brown;
    font-size: 50px;
    /* text-transform: uppercase; */

}
.p{
    text-align: right;
    font-size: 80px;
    font-style: oblique;
    color: blueviolet;
}
p{
    font-size: 40px;
}

.main1{
    margin: 0 auto;
    /* top: 1000px; */
    height: 900px;
    
    background: thistle;
    position: relative;


}
.media{
    height: 500px;
    width: 50%;
    background: blueviolet;
    position: absolute;
    
}

img{
    height: 200px;
    width: 300px;
}
iframe{
    height: 500px;
    width: 100%;
    
}
.vedio{
    right: 0;

    height: 500px;
    width: 50%;
    background: blue;
    position: absolute;
}
