/* All common css start  */

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1320px;

}

/* All common css end  */

.main{
    margin: 0 auto;
    height: 900px;
    /* width: 800px;
     */
    background: gainsboro;
    position: relative;
}
/* Day #01: Basic HTML Tag with Extremal CSS  */
h1{
    text-align: center;
    color: brown;
    font-size: 50px;
    /* text-transform: uppercase; */

}
.p{
    text-align: right;
    font-size: 80px;
    font-style: oblique;
    color: blueviolet;
}
p{
    font-size: 40px;
}
